// compress: true, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Titillium Web', sans-serif;
@black: #000000;
@white: #ffffff;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
