/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1366px) {
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item .custom-item-value {
    font-size: 1rem;
  }
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item .custom-big-number {
    font-size: 1.8rem !important;
  }
}
@media (max-width: 1170px) {
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item .custom-item-value {
    font-size: 0.9rem;
  }
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item .custom-big-number {
    font-size: 1.5rem !important;
    line-height: 1.6rem;
  }
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item h2 {
    font-size: 1rem;
    line-height: 1rem;
  }
  .table-sigsec .badge {
    font-size: 0.7rem;
    padding: 3px 4px;
  }
  .table-sigsec tr td {
    padding: 8px 5px;
    font-size: 0.75rem;
  }
  .table-sigsec tr th:nth-child(3) {
    width: 50px;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 767px) {
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item {
    flex: 0 0 49.8%;
    max-width: 49.8%;
    min-height: 130px;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    padding: 1rem 0rem 1rem 1rem;
  }
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item:nth-child(2) {
    border-right: 0;
  }
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item:nth-child(3) {
    border-bottom: 0;
  }
  .welcome-panel .custom-main-welcome-dashboard .custom-main-welcome-item:nth-child(4) {
    border-bottom: 0;
  }
  .table-sigsec tr th:nth-child(3) {
    width: auto;
  }
}
